h1 {
  margin: 0px;
}

p {
  margin: 0px;

  a {
    font-weight: lighter;
    text-decoration: none;
    color: gray;
    font-size: 20px;
  }
}

p[header="normal"] {
  height: 60px;

  a {
    line-height: 60px;
    margin-right: 10px;
  }
}

p[header="scroll"] {
  height: 50px;

  a {
    line-height: 40px;
    margin-right: 10px;
  }
}



.logo {

  img {
    vertical-align: middle;
  }
}
