<layout-slider-vertical #mainSlider>

  <div class="logo"
       header="logo">
    <img src="src/assets/logo-header.jpg">
  </div>


  <ng-template #first>
    <columns-container>
      <column grow>
      </column>
      <column [width]="800">
        welcome to firedev.io
      </column>
      <column grow>
      </column>
    </columns-container>
  </ng-template>



  <p header="normal">

    <a href="javascript:void(0)"
       [parent]="mainSlider"
       gotoChildVerticalSlider="first">
      Home
    </a>

    <a href="javascript:void(0)"
       [parent]="mainSlider"
       gotoChildVerticalSlider="second">
      Docs
    </a>

  </p>

  <p header="scroll">

    <a href="javascript:void(0)"
       [parent]="mainSlider"
       gotoChildVerticalSlider="first">
      Home
    </a>

    <a href="javascript:void(0)"
       [parent]="mainSlider"
       gotoChildVerticalSlider="second">
      Docs
    </a>

  </p>

  <div body>

    <layout-slider-vertical-child class="long"
                                  [header]="'first'">
      <ng-container [ngTemplateOutlet]="first"></ng-container>
    </layout-slider-vertical-child>

    <layout-slider-vertical-child class="long"
                                  [header]="'second'">
      <h3>Second</h3>
    </layout-slider-vertical-child>

    <layout-slider-vertical-child class="long"
                                  [header]="'third'">
      <h3>third</h3>
    </layout-slider-vertical-child>

  </div>

</layout-slider-vertical>
