


@font-face {
  font-family: 'MainFont';
  src: url('src/assets/fonts/Roboto/Roboto-Thin.ttf')  format('truetype'); /* Safari, Android, iOS */
}


:host {
  display: block;
  font-family: "MainFont";
}

body {
  margin: 0px !important;
  height: 100%;
  width: 100%;
}


